.dark-mode
{
	background: linear-gradient(to right, #232526, #414345);
}
h1
{
	font-size: 18px;
	text-align: center;
	color: #000000;
}	
.timeline
{
	padding-bottom:13%;
}

p
{
	color:#000000;
	word-spacing: 1px;
	font-family: 'Sintony', sans-serif;
	font-size: 17px;
	text-align: center;
	margin: 7px;
}

img
{	
	text-align: center;
	margin: auto;
	display: block;
	height: 210px;	
	width: 310px;
	border-radius:5%;
}

.mmyne
{
	font-family: 'Merienda One', cursive;
	font-size: 30px;
	text-align: center;
	margin:0 auto;
	margin-top: 0px;
	color:#000000	;
}

a
{
	text-decoration: none;
	color: #000000;	
	font-family: 'Merienda One', cursive;
}
a:hover
{	
	text-decoration: none;
	color: #ffffff;
}

.icon
{
	color: #000000;
	font-size:25px;
	text-decoration: none;
	text-align: center;
}

.textchange1
{
	font-family: 'Sintony', sans-serif;
	font-size: 1px;
	text-align: center;	
	color: #000000;
}
.textchange2
{
	font-family: 'Sintony', sans-serif;
	font-size: 1px;
	text-align: center;	
	color: #000000;
}
.textchange3
{
	font-family: 'Sintony', sans-serif;	
	font-size: 1px;
	text-align: center;
	color: #000000;	
}
.textchange4
{
	font-family: 'Sintony', sans-serif;
	font-size: 1px;
	text-align: center;	
	color: #000000;
}
.textchange5
{
	font-family: 'Sintony', sans-serif;
	font-size: 1px;
	text-align: center;	
	color: #000000;
}

.panelabt
{
	color: #000000;
}

.panelabi,.panelcur,.paneledu
{
	display: none;
	width: 100%;		
	color: #000000;	
}
.pinnav
{
	padding-bottom:  0 auto ;	
}
.botresnavgi	
{	
	text-align: center;
	background:linear-gradient(to left, #00d2ff, #3a7bd5);
	position:fixed;
	bottom:0;
	left:0;
	width:100%;	
	padding-top:3%;
	padding-bottom:3%;
	/*opacity: 0.8*/

}




.mflipabt,.mflipabi,.mflipcur,.mflipedu
{	
	font-family: 'Sintony', sans-serif;
	display: inline-block;
	float: left;
	font-size: 12px;
	color: #ffffff;	 
	width: 25%;
}

.mhide
{
	display: none;
}

.tog
{
	text-align: center;
}

.switch
{
	border-radius: 2px black;
	text-align: center;		
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}	

.switch input
{ 
	text-align: center;
	opacity: 0;
	width: 0;
	height: 0;
}

.slider 
{	
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before 
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider 
{
	background-color: #000000;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before 
{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


.slider.round 
{

	border-radius: 0px;
}

.slider.round:before 
{
	border-radius: 10px;
}


